@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

:root {
    --vermelho-escuro: #8B0000;
    --vermelho-claro: #FF6347;
    --preto: #000000;
    --cinza: rgba(128, 128, 128, 0.250);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-image: url("../images/trainer-bg.jpg");
}

main {
    display: flex;
    justify-content: center;
}

section {
    width: 100%;
    padding: 1rem;
    background-color: var(--vermelho-escuro);
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-left: 500px;
}

form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin: 1rem 0;
}

.cinza {
    display: inline;
    color: black;
}

input {
    height: 2.5rem;
    border-radius: 0.3rem;
    border-style: solid;
    border-color: var(--vermelho-claro);
    outline: none;
    font-size: 1rem;
    padding: 0 0.5rem;
    margin-top: 0.3rem;
    margin-right: 0.3rem;
    background-color: var(--preto);
    color: white;
}

input[type=radio] {
    height: 1rem;
}

.botao button{
  background-color: gray;
  
}

button {
    width: 100%;
    height: 3rem;
    border-radius: 0.3rem;
    border-color: var(--vermelho-claro);
    border-style: solid;
    font-size: 1rem;
    background-color: var(--vermelho-claro);
    font-weight: bold;
    color: white;
    transition: background-color 0.3s;
}

button:hover {
    cursor: pointer;
    background-color: var(--vermelho-escuro);
}

#error {
    display: none;
    text-align: center;
    font-weight: bold;
    color: var(--vermelho-claro);
}

.resultado {
    display: none;
    text-align: justify;
    line-height: 1.8rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;
    color: white;
}

td, th {
    border: 1px solid var(--vermelho-claro);
    padding: 0.8rem;
}

tr:nth-child(odd) {
    background-color: var(--vermelho-claro);
}

#obs {
    font-size: 0.8rem;
    font-style: italic;
    text-align: justify;
    margin: 1rem 0;
}

#calculadoramacros input[type=number] {
    width: 3rem;
}

@media screen and (min-width: 820px) {
    section {
        width: 60%;
    }
}

@media screen and (min-width: 1500px) {
    section {
        width: 50%;
    }
}

.info_section {
  background-color: #252233;
}

.info_items {
  width: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info_items .item {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.info_items .item .img-box {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.info_items .item .detail-box {
  margin-top: 5px;
  color: #fff;
}

.info_items {
  position: relative;
}

.info_items a {
  position: relative;
}

.info_items .item .img-box.box-1 {
  background-image: url(../images/location-white.png);
}

.info_items .item .img-box.box-2 {
  background-image: url(../images/telephone-white.png);
}

.info_items .item .img-box.box-3 {
  background-image: url(../images/envelope-white.png);
}

/* footer section*/
.footer_section {
  background-color: #fbfdfd;
  padding: 20px;
  font-weight: 500;
}

.footer_section p {
  color: #292929;
  margin: 0;
  text-align: center;
}

.footer_section a {
  color: #292929;
}